<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<h1 style="text-align: center"><%= title %></h1>

<div class="container">
<form  method = "post">
	<div class="row">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">UserName</span>
			</div>
			<input type="email"  name = "username"class="form-control" placeholder="Email" aria-label="Default" aria-describedby="inputGroup-sizing-default">
		</div>
	</div>

	<div class="row">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="inputGroup-sizing-default">PassWord</span>
			</div>
			<input type="password" name="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
			</div>
	</div>

	<div style="text-align: center;margin-top: 50px"><input class="btn btn-success" type="submit" value="Submit" name="submit"></div>
	

</form>
</div>

</body>

</html>
